<h1>Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="login()">

  <div class="container">
<label for="username">Brugernavn </label>
<input id="username"type ="text" formControlName="username">

<!--<div *ngIf="username && username.invalid &&(username.dirty || username.touched)"
     class="alert alert-danger">
  <div *ngIf="username.errors?.required">
  Username is required.
  </div>
  <div *ngIf="username.errors?.minlength">
  Username must be at least 8 characters long.
  </div>

</div>-->
<br>
  <br>
<label for="password"> Kodeord </label>
<input id="password" type="password" formControlName="password">

<!--<div *ngIf="password && password.invalid && (password.dirty || password.touched)"
     class="alert alert-danger">

  <div *ngIf="password.errors?.required">
    Password is required.
  </div>
</div>-->
  <br>
  <br>
  <button type="submit"
        class="btn btn-dark"
        [disabled]="!loginForm.valid">Login</button>
  <br>
  <br>
  <nav>
    <a routerLink="/auth/create">Opret ny bruger</a>
  </nav>
  </div>
</form>


