<h1>Create Account</h1>
<form [formGroup]="createForm" (ngSubmit)="Create()">

  <label for="customer-name">Name: </label>
  <input id="customer-name" type="text" formControlName="name">
  <br>
  <br>
  <label for="mobil-number">Mobil Number: </label>
  <input id="mobil-number" type="text" formControlName="phoneNumber">
<br>
  <br>
  <label for="email">Email : </label>
  <input id="email" type="text" formControlName="email">
  <br>
  <br>
  <label for="password">password : </label>
  <input id="password" type="password" formControlName="password">
  <br>
  <br>
  <div>
    <select formControlName="chosenSex" (change)="changeSex()">
      <option value="" disabled>Vælg dit køn</option>
      <option *ngFor="let chooseSex of sexes" [ngValue]="chooseSex">
        {{chooseSex}}
      </option>
    </select>
  </div>
<br>

  <br>
  <button
    type="submit"
          class="btn btn-dark"
          [disabled]="!createForm.valid">Create</button>
  <br>
  <br>
  <button (click) ="goBack()" > Back </button>

</form>

