<h1>Create Account</h1>
<form [formGroup]="createForm" (ngSubmit)="Create">

  <label for="customer-name">Name: </label>
  <input id="customer-name" type="text" formControlName="name">
  <br>
  <br>
  <label for="mobil-number">Mobil Number: </label>
  <input id="mobil-number" type="text" formControlName="phonenumber">
<br>
  <br>
  <label for="email">Email : </label>
  <input id="email" type="text" formControlName="email">
  <br>
  <br>
  <label for="password">password : </label>
  <input id="password" type="password" formControlName="password">
  <br>
  <br>
  <div>
    <Label>Sex: </Label>
    <select>
      <option [value]="sex" *ngFor="let sex of sexes">
        {{sex}}
      </option>
    </select>
    <select>
      <option selected="selected" value=""> Sex </option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>
<br>

  <br>
  <button (click)="createAccount()"
    type="submit"
          class="btn btn-dark"
          [disabled]="!createForm.valid">Create</button>
  <br>
  <br>
  <button (click) ="goBack()" > Back </button>

</form>
